.pmdr {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 75px);
    justify-items: center
}

.pmdr-len-ctrl {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.pmdr-timer {
    grid-column: 1 / 3
}

.pmdr-ctrl {
    grid-column: 1 / 3
}
